body {
  background-image: linear-gradient(rgba(173, 189, 253, 0.807),rgba(133, 157, 255, 0.996)),url(images/d8d4283b-f542-4ab9-be01-f603b376c7e7.jfif.jpg);
    
  }
  
  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

.sub-header {
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.807),rgba(4, 9, 30, 0.84)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #000000;
}
  h1 {
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0 7px 8px rgba(87,44,-48,145.5);
    align-items: center;
}
  nav{
    display: flex;
    padding: 2px 6px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: #cccccc00;

}
nav img{
    width: 150px;


}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.6s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px ;
    font-size: 14px;
    color: #000000;
}
.text-box img{
    height: 100px;
    width: 100px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 2s;
}
nav .fa{
    display: none;

}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background:#434e4b;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .nav-links ul{
        padding: 30px;

    }
}

.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown a{
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: #ffffff;
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the dropdown link */
.dropdown:hover .dropdown-content {
    display: block;
}
  .container {
    position: absolute;
    width: 280px;
    height: 550px;
    box-shadow: 0px 0px 30px #000;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    background: url(images/event.png);
    background-size: 100% 100%;
  }
  
  .one {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f71b73;
    right: -100%;
    transition: 1.5s;
  }
  
  .one div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .one div h2, h1 {
    color: #000000;
  }
  
  .two {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    right: -200%;
    transition: 1.5s;
  }
  
  .container:hover .one {
    right: 0;
  }
  
  .container:hover .two {
    right: 100%;
  }
  
  
  .glowing-btn {
      position: relative;
      color: var(--glow-color);
      cursor: pointer;
      padding: 0.35em 0em;
      border: 0.15em solid var(--glow-color);
      border-radius: 0.45em;
      background: none;
      perspective: 1em;
      font-family: "Raleway", sans-serif;
      font-size: 2em;
      font-weight: 900;
      letter-spacing: 1em;
    
      -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
      -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
      box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
      animation: border-flicker 2s linear infinite;
    }
    
    .glowing-txt {
      float: left;
      margin-right: -0.8em;
      -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
      -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
      text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
      animation: text-flicker 3s linear infinite;
    }
    
    .faulty-letter {
      opacity: 0.5;
      animation: faulty-flicker 2s linear infinite;
    }
    
    .glowing-btn::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      filter: blur(1em);
      transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
      background: var(--glow-color);
      pointer-events: none;
    }
    
    .glowing-btn::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: var(--glow-color);
      box-shadow: 0 0 2em 0.2em var(--glow-color);
      transition: opacity 100ms linear;
    }
    
    .glowing-btn:hover {
      color: rgba(0, 0, 0, 0.8);
      text-shadow: none;
      animation: none;
    }
    
    .glowing-btn:hover .glowing-txt {
      animation: none;
    }
    
    .glowing-btn:hover .faulty-letter {
      animation: none;
      text-shadow: none;
      opacity: 1;
    }
    
    .glowing-btn:hover:before {
      filter: blur(1.5em);
      opacity: 1;
    }
    
    .glowing-btn:hover:after {
      opacity: 1;
    }
    
    @keyframes faulty-flicker {
      0% {
        opacity: 0.1;
      }
      2% {
        opacity: 0.1;
      }
      4% {
        opacity: 0.5;
      }
      19% {
        opacity: 0.5;
      }
      21% {
        opacity: 0.1;
      }
      23% {
        opacity: 1;
      }
      80% {
        opacity: 0.5;
      }
      83% {
        opacity: 0.4;
      }
    
      87% {
        opacity: 1;
      }
    }
    
    @keyframes text-flicker {
      0% {
        opacity: 0.1;
      }
    
      2% {
        opacity: 1;
      }
    
      8% {
        opacity: 0.1;
      }
    
      9% {
        opacity: 1;
      }
    
      12% {
        opacity: 0.1;
      }
      20% {
        opacity: 1;
      }
      25% {
        opacity: 0.3;
      }
      30% {
        opacity: 1;
      }
    
      70% {
        opacity: 0.7;
      }
      72% {
        opacity: 0.2;
      }
    
      77% {
        opacity: 0.9;
      }
      100% {
        opacity: 0.9;
      }
    }
    
    @keyframes border-flicker {
      0% {
        opacity: 0.1;
      }
      2% {
        opacity: 1;
      }
      4% {
        opacity: 0.1;
      }
    
      8% {
        opacity: 1;
      }
      70% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
      }
    }
    
    @media only screen and (max-width: 600px) {
      .glowing-btn{
        font-size: 1em;
      }
    }
  
    @import url("https://fonts.googleapis.com/css?family=Raleway");
  
  :root {
    --glow-color: hsl(186 100% 69%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .contact11 
  {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #9b97d2;
    margin-top: 700px;
  }
  .contact11 .content11 
  {
    max-width: 800px;
    text-align: center;
  }
  .contact11 .content11 h2 
  {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
  }
  .contact11 .content11 p 
  {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
  }
  .container11 
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
  }
  .container11 .contactInfo11 
  {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container11 .contactInfo11 .box 
  {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
  }
  .container11 .contactInfo11 .box .icon 
  {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
  }
  .container11 .contactInfo11 .box:hover .icon 
  {
    background: #00bcd4;
    color: #fff;
  }
  .container11 .contactInfo11 .box11 .text 
  {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
  }
  .container11 .contactInfo11 .box11 .text h3 
  {
    font-weight: 500;
    color: #00bcd4;
  }
  .container11 .contactInfo11 .txt
  {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #e91e63;
    line-height: 1em;
  }
  .sci11 
  {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
  }
  .sci11 li 
  {
    list-style: none;
  }
  .sci li a 
  {
    color: #fff;
    font-size: 2em;
    transition: 0.5s;
  }
  .sci li a:hover 
  {
    color: #00bcd4;
  }
  
  
  .container11 .contactForm11
  {
    position: relative;
    width: 40%;
    background: #fff;
    min-height: 100px;
    padding: 60px;
  } 
  .container11 .contactForm11 h2 
  {
    font-size: 2em;
    color: #333;
    font-weight: 500;
  }
  .container11 .contactForm11 .inputBox 
  {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .container11 .contactForm11 .inputBox input, 
  .container11 .contactForm11 .inputBox textarea 
  {
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .container11 .contactForm11 .inputBox span 
  {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
  }
  .container11 .contactForm11 .inputBox input:focus ~ span, 
  .container11 .contactForm11 .inputBox textarea:focus ~ span,
  .container11 .contactForm11 .inputBox input:valid ~ span, 
  .container11 .contactForm11 .inputBox textarea:valid ~ span 
  {
    color: #e91e63;
    font-size: 0.9em;
    transform: translateY(-20px);
  }
  .container11 .contactForm11 .inputBox input[type="submit"]
  {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
  }
  
  /* lets make it responsive */
  @media (max-width: 991px)
  {
    .contact11
    {
      padding: 50px;
    }
    .container11
    {
      flex-direction: column;
    }
    .container11 .contactInfo11,
    .containe11r .contactForm11
    {
      width: 100%;
    }
    .container11 .contactForm11
    {
      padding: 50px 30px;
    }
  }
  
